header {
    background-color:#FFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}


div.logo {
    position: absolute;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size:auto;
    height: 70px;
    width: 200px;
    left: 20px;
    display: table-cell;
    vertical-align: middle;
}